*{
    color: white;
}
body{
    color: whitesmoke;
    background-color:#2C73EF ;
    text-align: center;
}
h1{
    text-decoration: underline;
}
ul{
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
    border-bottom: dotted;
}
ul li a:hover{
    background-color: white;
    color: black;
    border-radius: 8%;
    transition: 1s;
}
ul li{
    list-style: none;
    width: 150px;
    height: 20px;
    transition: 2s;
}
ul li a{
    text-decoration: none;
    padding: 5px;
}
hr{
    border: dotted white 2px;
}
table{
    margin: auto;
}
th{
    border-bottom: solid;
    margin: 10px;
    padding: 10px 50px;
}
td{
    border-bottom: solid;
    margin: 20px;
    padding: 10px;
}
.container{
    display: flex;
    justify-content: space-evenly;
}
img{
    width: 300px;
    height: 300px;
    border-radius: 30px;
}
li:hover{
    color: black;
}
.card{
    transition: ease 1s;
    cursor: pointer;
}
.card:hover{
    transform: scale(1.3);
}